@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@100;300;400&display=swap');

/* Css Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Roboto', sans-serif;
}


a{
    text-decoration: none;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}

.h_conatiner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.overlay{
    position: absolute;
    background: #06b6d4;
    height: 110%;
    width: 150%;
    z-index: -1;
    transform: rotate(-10deg);
    transform-origin: bottom left;
    box-shadow: 0px 0px 5px 0px rgba(156,163,175,1);

}

.profilepic{
    position: relative;
}

.overlay_text{
    position: absolute;
    font-family: 'Playfair Display', serif;
    font-size: 2.2rem;
    bottom: 0%;
    left: 20%;    
    color: #fff;
}

.profilepic img{
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 5px 0px rgba(156,163,175,1);

}

.aboutMe{
    height: 100%;
    background: #fff;
    padding: 30px 30px 20px;
    text-align: justify;
    border-radius: 1px;
    box-shadow: 1px 1px 5px 0px rgba(156,163,175,1);
}

.aboutMe h2{
    font-family: 'Playfair Display', serif;
    margin-bottom: 20px;
}

.aboutMe p{
    margin-bottom: 30px;
}

.headericons{
    display: flex;
    justify-content: flex-end;
}

.headericons a{
    margin-left: 15px;
    cursor: pointer;
}

/* section */

section{
    min-height: 100vh;
    overflow: hidden;
}

.myprojectworks{
    width: 80%;
    margin: 20px auto;
}

.myprojectworks > h2{
    font-family: 'Playfair Display', serif;
    padding-bottom: 1.2%;
    
}

/* grid */

.projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 50%;
    row-gap: 30px;
    column-gap: 40px;
}

/* card */

.card{
    box-shadow: 1px 1px 5px 0px rgba(156,163,175,1);
}

.card h2{
    font-family: 'Playfair Display', serif;
    
}

.project_screenshot{
    padding: 30px;
    text-align: center;
    color: #fff;
}

.card:nth-child(1) .project_screenshot:nth-child(1){
    background: #dc2626;

}

.card:nth-child(2) .project_screenshot{
    background: #8b5cf6;
}

.card:nth-child(3) .project_screenshot{
    background: #059669;
}

.card:nth-child(4) .project_screenshot{
    background: #ec4899;
}

.card:nth-child(5) .project_screenshot{
    background: #f59e0b;
}

.card:nth-child(6) .project_screenshot{
    background: #38bdf8;
}

.project_info{
    margin: auto;
    width: 90%;
}

.project_name{
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}



.name_logo{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 5px auto;
}

.project_description{
    margin-bottom: 20px;
}

/* contact */

section.contactme{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #06b6d4;
}

.contact_page{
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: #fff;
}

.contact_img img{
    display: flex;
    align-items: center;
    width: 100%;
}

.contact_info h2{
    font-family: 'Playfair Display', serif;
}

.contact_info h2, .contact_info p, .contact_info address{
    margin-bottom: 20px;
}

.phoneNo, .mail{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.phoneNo img, .mail img{
    display: inline-block;
    margin-right: 10px;
}

.phoneNo a, .mail a{
    text-decoration: none;
    color: #fff;
}

.contact_icons{
    margin-top: 15px;
}

.contact_icons img{
    display: inline-block;
    margin-right: 10px;
}
